@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

#header {
    text-align: right;
    padding: 20px;
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
}

.header-button {
    margin-left: 10px;
    text-decoration: none;
    background-color: #444;
    color: white;
    padding: 8px 16px;
    border-radius: 4px;
    font-family: 'Raleway', sans-serif;
}

.menu-icon {
    display: none; /* Hidden by default, shown only in mobile view */
    font-size: 30px;
    cursor: pointer;
}

.menu-content {
    display: flex; /* Flex layout for desktop */
    flex-direction: row;
    justify-content: flex-end;
}

@media (max-width: 768px) {
    .menu-icon {
        display: block; /* Show hamburger icon */
    }
    .menu-content {
        display: none; /* Hide menu items initially */
        flex-direction: column; /* Stack vertically on mobile */
        width: 100%; /* Full width */
        position: absolute;
        right: 0;
        top: 60px; /* Position below the hamburger icon */
        background-color: #333; /* Background color for the dropdown */
    }
    .header-button {
        display: block;
        text-align: center;
        width: 100%;
    }
}
